#header {
    background-color: #a9ffc4;
}

.header_logo {
    float: left;
    margin: 0;
    padding: 0;
}

.header_icons {
    float: right;
    margin: 0;
    padding: 0;
}

.header_image {
    float: right;
    display: inline-block;
    margin: 0;
    padding: 0;
}

#header_title {
    font: 30pt bold italic;
    line-height: 64px;
    color: #1f35a0;
    vertical-align: middle;
    padding-left: 30px;
}

.form {
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 30px solid #d1f5cf;
    border-top: 10px solid #d1f5cf;

    padding: 10px;
}

.form-unit {
    margin: 5px 0;
}

.form-label {
    background-color: #d1f5cf;
    font-size: 18px;
    padding-top: 0;
    padding-right: 10px;
    padding-left: 25px;
    padding-bottom: 0;
}

.active-mailbox-header-link {
    font-weight: bold;
}

.message-header {
    font-size: 14px;
    background-color: #f6ffe0;
    margin-bottom: 0;
}

.mailbox-line {
    line-height: 25px;
    border: 1px solid black;
}

.delete-message-btn {
    width: 25px;
    height: 25px;
    padding: 0;
    margin: 0;
    float: right;
}

.message-body {
    border: 30px solid #d1f5cf;
    font-size: 16px;
    padding: 5px 30px;
}

.message-info {
    font-style: italic;
    font-size: 16px;
    text-align: right;
}

.message-subject {
    font-size: 18px;
    font-weight: bold;
    padding-left: 20px;
}

.message-answer-label {
    padding: 0;
    border-left: 60px solid #d1f5cf;
    border-right: 60px solid #d1f5cf;
    background-color: #d1f5cf;
}

.post {
    border: 6px groove #d3fcff;
    border-radius: 10px;
    padding: 10px;
    margin: 5px;
}

.post-title-line {
    font-size: 16px;
    font-weight: bold;
    padding-left: 20px;
    padding-right: 10px;
}

.post-date {
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    padding-left: 20px;
}

.post-title {

}

.post-title-icons {
    display: inline-block;
    float: right;
}

.post-title-icon {
    padding: 0;
    margin: 1px;
    width: 20px;
    height: 20px;
}

.post-content {
    font-size: 14px;
}

.post-info {
    font-size: 16px;
}

.post-voting {
    display: inline-block;
    font-size: 22px;
    line-height: 24px;
    vertical-align: middle;
}

.post-vote {
    display: inline;
    margin: 0;
    padding: 0;
    border-width: 0;
}

.post-comments {
    display: inline;
}

.post-tags {
    font-size: 14px;
}

.comments {
    margin-top: 5px;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 0;
    padding: 10px 5px;
}

.comment {
    border: 1px solid #1a5a09;
    border-radius: 15px;
    padding-top: 3px;
    padding-right: 20px;
    padding-left: 10px;
    padding-bottom: 3px;
    margin: 3px 0;
}

.comment-avatar {
    display: inline-block;
}

.comment-author-avatar {
    border-radius: 20px;
    border: 3px double #1566ff;
}

.comment-title {
    padding: 0;
}

.comment-info {
    display: inline-block;
}

.comment-buttons {
    display: inline-block;
    float: right;
}

.comment-delete-panel {
    display: inline;
    text-align: left;
}

.comment-delete-btn {
    padding: 0;
    margin: 0 5px;
    width: 15px;
    height: 15px;
    font-size: 10px;
}

.comment-voting {
    display: inline;
    text-align: right;
}

.comment-vote {
    display: inline;
}

.comment-date {
    font-size: 10px;
    font-style: italic;
}

.comment-author {
    font-size: 16px;
    font-weight: bold;
}

.user-avatar {
    display: inline-block;
    border: 1px solid blue;
    margin: 2px;
    vertical-align: top;
}

.user-info {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    padding: 0 5px;
    margin: 0;
}

.user-buttons {
    display: inline-block;
    padding: 0;
    margin: 0;
}

.posts-tip-label {
    font-size: 20px;
    padding: 5px 20px;
    border-radius: 15px;
    background-color: #fcfff2;
}

#tags-cloud {
    width: 100%;
}

#sidebar {
    margin-top: 5px;
}

.sidebar-item-label {
    text-align: center;
    padding: 5px 20px;
    font-size: 18px;
    font-weight: bold;
    border-radius: 40px 40px 0 0;
    border: 6px solid #e3e3e3
}

#sidebar-posts-list,
#tags-cloud-container,
#archive-tree {
    border: 6px solid #e3e3e3;
    border-top: none;
    margin-bottom: 10px;
}
