<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
                 http://www.springframework.org/schema/beans/spring-beans.xsd
                 http://www.springframework.org/schema/security 
                 http://www.springframework.org/schema/security/spring-security.xsd">

    <http pattern="/resources/**" security="none"/>

    <http access-denied-page="/error/403" use-expressions="true">
        <intercept-url pattern="/" access="permitAll()"/>
        <intercept-url pattern="/home" access="permitAll()"/>
        <intercept-url pattern="/post**" access="permitAll()"/>
        <intercept-url pattern="/error**" access="permitAll()"/>
        <intercept-url pattern="/login*" access="isAnonymous()"/>
        <intercept-url pattern="/signup*" access="isAnonymous()"/>
        <intercept-url pattern="/mail/**" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/post/*/comment*" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/user*" method="GET" access="hasRole('ROLE_USER')"/>
        <intercept-url pattern="/user*" method="PUT" access="isAnonymous()"/>
        <intercept-url pattern="/**" access="hasRole('ROLE_ADMIN')"/>

        <form-login login-page="/login" default-target-url="/"
                    authentication-failure-url="/login?error=true"/>
        <logout logout-url="/logout" logout-success-url="/"/>

        <anonymous username="guest" granted-authority="ROLE_ANONYMOUS"/>
        <remember-me user-service-ref="userService"/>
    </http>

    <global-method-security secured-annotations="enabled"/>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder hash="bcrypt"/>
        </authentication-provider>
    </authentication-manager>

    <jdbc-user-service
            id="userService"
            data-source-ref="dataSource"
            users-by-username-query=
                    "SELECT
                        name as username, pass as password, true as enabled
                    FROM user
                    WHERE name = ?"
            authorities-by-username-query=
                    "SELECT
                        U.name AS username,
                        R.role AS authority
                    FROM user AS U
                        INNER JOIN user_role AS UR
                            ON UR.user_id = U.user_id
                            AND U.name = ?
                        INNER JOIN role AS R
                            ON UR.role_id = R.id;"/>
</beans:beans> 